<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">Walsh Enterprise</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Serviços Emergenciais
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" id="Bombeiros" [routerLink]="['busca','bombeiro']">Bombeiros</a>
            <a class="dropdown-item" id="Hospitais" [routerLink]="['busca','hospital']">Hospitais</a>
            <a class="dropdown-item" id="Delegacias" [routerLink]="['busca','delegacia']">Delegacias</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Buscar
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" id="Turísticos" [routerLink]="['busca','turismo']">Pontos Turísticos</a>
            <a class="dropdown-item" id="Praias" [routerLink]="['busca','praia']">Praias</a>
            <a class="dropdown-item" id="Hoteis" [routerLink]="['busca','hotel']">Hoteis</a>
            <a class="dropdown-item" id="Restaurantes" [routerLink]="['busca','restaurante']">Restaurantes</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Linguages
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
            <a class="dropdown-item" href="faq.html">Portugês</a>
            <a class="dropdown-item" href="full-width.html">Inglês</a>
            <a class="dropdown-item" href="sidebar.html">Espanhol</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['sobre']">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['cadastrar']">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>