<div class="container">

  <h1 class="mt-4 mb-3">Busque seu lugar aqui
    <small></small>
  </h1>

  <div class="row">
    <div class="col-md-8">

      <div class="card mb-4">
        <div *ngFor="let local of locais">
          <img class="card-img-top" [src]="local.imagem" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{local.Nome}}</h2>
            <p class="card-text">{{ local.endereco }}</p>
            <p class="card-text">{{ local.bairro }}</p>
            <p class="card-text">{{ local.horario }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <h5 class="card-header">Buscar</h5>
        <div class="card-body">
          <div class="input-group">
            <input >
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="buscar()">Ir !</button>
            </span>
          </div>
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Filtros</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-10">
              <ul class="list-unstyled mb-0">
                <li>
                  <div class="form-group">
                    <label for="sel1">Status</label>
                    <select class="form-control" id="sel1">
                      <option>Aberto</option>
                      <option>Fechado</option>
                    </select>
                  </div>
                </li>
                <li>
                    <select type="text" class="form-control" name="place" id= "busca_place">
                        <option  [routerLink]="['busca','delegacia']" value="Bombeiros">Bombeiros</option>
                        <option value="Hospitais">Hospitais</option>
                        <option value="Delegacias">Delegacias</option>
                        <option value="Turísticos">Pontos Turísticos</option>
                        <option value="Praias">Praias</option>
                        <option value="Hoteis">Hoteis</option>
                        <option value="Restaurantes">Restaurantes</option>
                      </select>
                </li>
                <li>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
