<div class="container">

  <h1 class="mt-4 mb-3">Busque seu lugar aqui
    <small></small>
  </h1>

  <div class="row">
    <div class="col-md-8">

      <div class="card mb-4">
        <div *ngFor="let local of locais">
          <img class="card-img-top" [src]="local.imagem" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{local.Nome}}</h2>
            <p class="card-text">{{ local.endereco }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <h5 class="card-header">Buscar</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="buscar()">Ir !</button>
            </span>
          </div>
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header">Filtros</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                    <div class="price-slider">
                  <a href="#">Web Design</a>
                  </div>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>