<!DOCTYPE html>
<html lang="pt=br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/modern-business.css" rel="stylesheet">
    <title>Walsh Enterprise - Index</title>
  </head>
<body>
  <h1>{{ title }}</h1>
  <app-header>

  </app-header>
  <!-- <app-index>

  </app-index>
  <app-footer>
    
  </app-footer> -->
</body>