<!DOCTYPE html>
<html lang="pt=br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Vinícius Walsh">
  <script type="text/javascript" src="../assets/js/jquery.js"></script>
  <script type="text/javascript" src="../assets/js/jquery-easing-1.3.pack.js"></script>
  <script type="text/javascript" src="../assets/js/jquery-easing-compatibility.1.2.pack.js"></script>
  <script type="text/javascript" src="../assets/js/jquery.kwicks-1.5.1.pack.js"></script>
  <link href="../assets/jimgMenukwicks.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


  <title>Walsh Enterprise - Index</title>
</head>

<body>
  <app-header>

  </app-header>
  <router-outlet></router-outlet>
  <app-footer>

  </app-footer>
</body>
<script type="text/javascript">
  $().ready(function () {
    $('.jimgMenu ul').kwicks({ max: 310, duration: 300, easing: 'easeOutQuad', complete: 'callback' });
  });
</script>